--
-- PostgreSQL database cluster dump
--

\restrict D6hoRRnY4myOT9sIq5Shz0qIIIq1CGftbU81mCNKjY4qrC5mrVPLTpRTZoFSf0P

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE admin;
ALTER ROLE admin WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:iLtVYqxBS4eE0fmwVC4Svg==$+u2OcCAUhJFjRMFYZoIdUobdWdoNn+eK2F1fTIB/DYY=:EDD2j4GhNQELTFCaxP53tw2m0JznMav8YCKOHqhUZ5E=';

--
-- User Configurations
--








\unrestrict D6hoRRnY4myOT9sIq5Shz0qIIIq1CGftbU81mCNKjY4qrC5mrVPLTpRTZoFSf0P

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict am29HkcTZMB9efFuQAGbQpl5A3M48xeCyJn0vWVJeXkEvn99KEz7ecr0O0K8fSd

-- Dumped from database version 18.6 (Debian 18.6-1.pgdg13+2)
-- Dumped by pg_dump version 18.6 (Debian 18.6-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict am29HkcTZMB9efFuQAGbQpl5A3M48xeCyJn0vWVJeXkEvn99KEz7ecr0O0K8fSd

--
-- Database "activity_tracker" dump
--

--
-- PostgreSQL database dump
--

\restrict 1nn7blxTHhHNTFMC2Fpadbz2ElFhkJgQinStoz3CYdbfGmzZUVVQRSEhKN4JHR5

-- Dumped from database version 18.6 (Debian 18.6-1.pgdg13+2)
-- Dumped by pg_dump version 18.6 (Debian 18.6-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: activity_tracker; Type: DATABASE; Schema: -; Owner: admin
--

CREATE DATABASE activity_tracker WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE activity_tracker OWNER TO admin;

\unrestrict 1nn7blxTHhHNTFMC2Fpadbz2ElFhkJgQinStoz3CYdbfGmzZUVVQRSEhKN4JHR5
\connect activity_tracker
\restrict 1nn7blxTHhHNTFMC2Fpadbz2ElFhkJgQinStoz3CYdbfGmzZUVVQRSEhKN4JHR5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO admin;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO admin;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO admin;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO admin;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO admin;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO admin;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO admin;

--
-- Name: fcm_django_fcmdevice; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.fcm_django_fcmdevice (
    id integer NOT NULL,
    name character varying(255),
    active boolean NOT NULL,
    date_created timestamp with time zone,
    device_id character varying(255),
    registration_id text NOT NULL,
    type character varying(10) NOT NULL,
    user_id bigint
);


ALTER TABLE public.fcm_django_fcmdevice OWNER TO admin;

--
-- Name: fcm_django_fcmdevice_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.fcm_django_fcmdevice ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.fcm_django_fcmdevice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: finance_account; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.finance_account (
    id bigint NOT NULL,
    name character varying(128) NOT NULL,
    account_type character varying(32) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    organization_id bigint NOT NULL,
    balance double precision NOT NULL
);


ALTER TABLE public.finance_account OWNER TO admin;

--
-- Name: finance_account_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.finance_account ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.finance_account_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: finance_category; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.finance_category (
    id bigint NOT NULL,
    name character varying(128) NOT NULL,
    category_type character varying(16) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    organization_id bigint NOT NULL,
    color character varying(32)
);


ALTER TABLE public.finance_category OWNER TO admin;

--
-- Name: finance_category_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.finance_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.finance_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: finance_transaction; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.finance_transaction (
    id bigint NOT NULL,
    amount double precision NOT NULL,
    transaction_type character varying(16) NOT NULL,
    occurred_at timestamp with time zone NOT NULL,
    description text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    account_id bigint NOT NULL,
    category_id bigint,
    created_by_id bigint,
    organization_id bigint NOT NULL,
    remaining_balance double precision
);


ALTER TABLE public.finance_transaction OWNER TO admin;

--
-- Name: finance_transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.finance_transaction ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.finance_transaction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notification_notification; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.notification_notification (
    id bigint NOT NULL,
    notification_type character varying(64) NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    source_type character varying(64) NOT NULL,
    source_id integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    organization_id bigint NOT NULL,
    recipient_id bigint NOT NULL,
    is_read boolean NOT NULL,
    CONSTRAINT notification_notification_source_id_check CHECK ((source_id >= 0))
);


ALTER TABLE public.notification_notification OWNER TO admin;

--
-- Name: notification_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.notification_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notification_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notification_notificationchannel; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.notification_notificationchannel (
    id bigint NOT NULL,
    name character varying(32) NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.notification_notificationchannel OWNER TO admin;

--
-- Name: notification_notificationchannel_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.notification_notificationchannel ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notification_notificationchannel_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notification_notificationdelivery; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.notification_notificationdelivery (
    id bigint NOT NULL,
    status character varying(16) NOT NULL,
    attempt_count integer NOT NULL,
    last_attempt_at timestamp with time zone,
    error_message text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    channel_id bigint NOT NULL,
    notification_id bigint NOT NULL,
    CONSTRAINT notification_notificationdelivery_attempt_count_check CHECK ((attempt_count >= 0))
);


ALTER TABLE public.notification_notificationdelivery OWNER TO admin;

--
-- Name: notification_notificationdelivery_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.notification_notificationdelivery ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notification_notificationdelivery_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notification_notificationschedule; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.notification_notificationschedule (
    id bigint NOT NULL,
    scheduled_at timestamp with time zone NOT NULL,
    is_processed boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    notification_id bigint NOT NULL
);


ALTER TABLE public.notification_notificationschedule OWNER TO admin;

--
-- Name: notification_notificationschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.notification_notificationschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notification_notificationschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: organization_member; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.organization_member (
    id bigint NOT NULL,
    role character varying(128) NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    organization_id bigint NOT NULL
);


ALTER TABLE public.organization_member OWNER TO admin;

--
-- Name: organization_member_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.organization_member ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.organization_member_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: organization_organization; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.organization_organization (
    id bigint NOT NULL,
    name character varying(128) NOT NULL,
    type character varying(128) NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    created_by_id bigint NOT NULL
);


ALTER TABLE public.organization_organization OWNER TO admin;

--
-- Name: organization_organization_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.organization_organization ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.organization_organization_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: roadmap_milestone; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.roadmap_milestone (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    start_date date NOT NULL,
    due_date date NOT NULL,
    completed_at timestamp with time zone,
    status character varying(16) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    linked_task_id bigint,
    roadmap_id bigint NOT NULL,
    description text
);


ALTER TABLE public.roadmap_milestone OWNER TO admin;

--
-- Name: roadmap_milestone_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.roadmap_milestone ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.roadmap_milestone_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: roadmap_progresssnapshot; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.roadmap_progresssnapshot (
    id bigint NOT NULL,
    snapshot_date date NOT NULL,
    expected_completion_percent double precision NOT NULL,
    actual_completion_percent double precision NOT NULL,
    delta_percent double precision NOT NULL,
    created_at timestamp with time zone NOT NULL,
    roadmap_id bigint NOT NULL
);


ALTER TABLE public.roadmap_progresssnapshot OWNER TO admin;

--
-- Name: roadmap_progresssnapshot_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.roadmap_progresssnapshot ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.roadmap_progresssnapshot_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: roadmap_roadmap; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.roadmap_roadmap (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    start_date date,
    end_date date,
    status character varying(16) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    created_by_id bigint,
    organization_id bigint NOT NULL,
    target_hours integer,
    type character varying(12) NOT NULL
);


ALTER TABLE public.roadmap_roadmap OWNER TO admin;

--
-- Name: roadmap_roadmap_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.roadmap_roadmap ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.roadmap_roadmap_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: roadmap_roadmapnotes; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.roadmap_roadmapnotes (
    id bigint NOT NULL,
    content text,
    created_at timestamp with time zone NOT NULL,
    hours_spent double precision,
    roadmap_id bigint NOT NULL,
    title character varying(1024) NOT NULL
);


ALTER TABLE public.roadmap_roadmapnotes OWNER TO admin;

--
-- Name: roadmap_roadmapnotes_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.roadmap_roadmapnotes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.roadmap_roadmapnotes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tasks_task; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.tasks_task (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    status character varying(32) NOT NULL,
    priority character varying(32) NOT NULL,
    due_at timestamp with time zone,
    completed_at timestamp with time zone,
    is_deleted boolean NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    created_by_id bigint,
    organization_id bigint NOT NULL
);


ALTER TABLE public.tasks_task OWNER TO admin;

--
-- Name: tasks_task_assigned_to; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.tasks_task_assigned_to (
    id bigint NOT NULL,
    task_id bigint NOT NULL,
    customuser_id bigint NOT NULL
);


ALTER TABLE public.tasks_task_assigned_to OWNER TO admin;

--
-- Name: tasks_task_assigned_to_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.tasks_task_assigned_to ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tasks_task_assigned_to_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tasks_task_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.tasks_task ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tasks_task_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_blacklistedtoken; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.token_blacklist_blacklistedtoken (
    id bigint NOT NULL,
    blacklisted_at timestamp with time zone NOT NULL,
    token_id bigint NOT NULL
);


ALTER TABLE public.token_blacklist_blacklistedtoken OWNER TO admin;

--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.token_blacklist_blacklistedtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_blacklistedtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_outstandingtoken; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.token_blacklist_outstandingtoken (
    id bigint NOT NULL,
    token text NOT NULL,
    created_at timestamp with time zone,
    expires_at timestamp with time zone NOT NULL,
    user_id bigint,
    jti character varying(255) CONSTRAINT token_blacklist_outstandingtoken_jti_hex_not_null NOT NULL
);


ALTER TABLE public.token_blacklist_outstandingtoken OWNER TO admin;

--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.token_blacklist_outstandingtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_outstandingtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_customuser; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.user_customuser (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    username character varying(128),
    email character varying(254) NOT NULL,
    contact_number character varying(64),
    google_id character varying(128),
    apple_id character varying(128),
    is_deleted boolean NOT NULL,
    is_disabled boolean NOT NULL,
    is_active boolean NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    profile_picture character varying(100)
);


ALTER TABLE public.user_customuser OWNER TO admin;

--
-- Name: user_customuser_groups; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.user_customuser_groups (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.user_customuser_groups OWNER TO admin;

--
-- Name: user_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.user_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_customuser_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.user_customuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_customuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_customuser_user_permissions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.user_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.user_customuser_user_permissions OWNER TO admin;

--
-- Name: user_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.user_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: fcm_django_fcmdevice; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.fcm_django_fcmdevice (id, name, active, date_created, device_id, registration_id, type, user_id) FROM stdin;
8	\N	t	2026-08-13 08:58:48.991511+00	\N	dzfmPTf_bDeCf9u7ESx2k3:APA91bFrBScjePoENoMhxi8QsUSKhcJrtsQAbfQ0g6XLVWfxoyexCi_thHVWTVbB6uzwmJMrA40NjsO107rdrRXCx6TCGfrh3v8pgwl5eemVbUSubvzpXQ4	web	2
\.


--
-- Data for Name: finance_account; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.finance_account (id, name, account_type, is_active, created_at, organization_id, balance) FROM stdin;
1	Prabesh Nepal	cash	t	2026-01-26 16:04:17.705+00	2	41252
2	prabesh	digital	t	2026-01-27 15:19:58.686+00	2	15
3	Nabil Bank	bank	t	2026-01-29 18:09:17.264+00	1	52582
4	Excel Development Bank	bank	t	2026-01-29 18:10:20.157+00	1	9840
5	E-sewa	digital	t	2026-01-29 18:13:02.785+00	1	677
6	Purse	cash	t	2026-01-29 18:16:25.758+00	1	40
\.


--
-- Data for Name: finance_category; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: finance_transaction; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: notification_notification; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.notification_notification (id, notification_type, title, message, source_type, source_id, created_at, organization_id, recipient_id, is_read) FROM stdin;
2	task_deadline	Task is Being Dued	Task is Being Dued	Task	1	2026-08-13 14:51:07.811215+00	1	2	t
\.


--
-- Data for Name: notification_notificationchannel; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.notification_notificationchannel (id, name, is_active) FROM stdin;
\.


--
-- Data for Name: notification_notificationdelivery; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.notification_notificationdelivery (id, status, attempt_count, last_attempt_at, error_message, created_at, channel_id, notification_id) FROM stdin;
\.


--
-- Data for Name: notification_notificationschedule; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.notification_notificationschedule (id, scheduled_at, is_processed, created_at, notification_id) FROM stdin;
\.


--
-- Data for Name: organization_member; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.organization_member (id, role, updated_at, created_at, user_id, organization_id) FROM stdin;
1	owner	2026-01-24 06:46:21.769+00	2026-01-24 06:46:21.769+00	2	1
2	owner	2026-01-24 11:35:08.484+00	2026-01-24 11:35:08.484+00	2	2
4	member	2026-01-25 16:52:35.242+00	2026-01-25 16:52:35.242+00	3	2
5	owner	2026-02-14 08:36:55.335+00	2026-02-14 08:36:55.335+00	4	4
\.


--
-- Data for Name: organization_organization; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.organization_organization (id, name, type, updated_at, created_at, created_by_id) FROM stdin;
1	Prabesh Nepal	personal	2026-01-24 06:46:21.767+00	2026-01-24 06:46:21.767+00	2
2	Family Organization	family	2026-01-24 11:35:00.659+00	2026-01-24 11:35:00.659+00	2
4	Tika Pd Nepal	personal	2026-02-14 08:36:55.33+00	2026-02-14 08:36:55.33+00	4
\.


--
-- Data for Name: roadmap_milestone; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: roadmap_progresssnapshot; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.roadmap_progresssnapshot (id, snapshot_date, expected_completion_percent, actual_completion_percent, delta_percent, created_at, roadmap_id) FROM stdin;
\.


--
-- Data for Name: roadmap_roadmap; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: roadmap_roadmapnotes; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: tasks_task; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: tasks_task_assigned_to; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.tasks_task_assigned_to (id, task_id, customuser_id) FROM stdin;
\.


--
-- Data for Name: token_blacklist_blacklistedtoken; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.token_blacklist_blacklistedtoken (id, blacklisted_at, token_id) FROM stdin;
1	2026-01-24 06:49:59.008+00	2
2	2026-01-24 06:54:51.215+00	4
\.


--
-- Data for Name: token_blacklist_outstandingtoken; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: user_customuser; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: user_customuser_groups; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.user_customuser_groups (id, customuser_id, group_id) FROM stdin;
\.


--
-- Data for Name: user_customuser_user_permissions; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.user_customuser_user_permissions (id, customuser_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 92, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 60, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 23, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 69, true);


--
-- Name: fcm_django_fcmdevice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.fcm_django_fcmdevice_id_seq', 8, true);


--
-- Name: finance_account_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.finance_account_id_seq', 6, true);


--
-- Name: finance_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.finance_category_id_seq', 15, true);


--
-- Name: finance_transaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.finance_transaction_id_seq', 106, true);


--
-- Name: notification_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.notification_notification_id_seq', 2, true);


--
-- Name: notification_notificationchannel_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.notification_notificationchannel_id_seq', 1, false);


--
-- Name: notification_notificationdelivery_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.notification_notificationdelivery_id_seq', 1, false);


--
-- Name: notification_notificationschedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.notification_notificationschedule_id_seq', 1, false);


--
-- Name: organization_member_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.organization_member_id_seq', 5, true);


--
-- Name: organization_organization_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.organization_organization_id_seq', 4, true);


--
-- Name: roadmap_milestone_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.roadmap_milestone_id_seq', 10, true);


--
-- Name: roadmap_progresssnapshot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.roadmap_progresssnapshot_id_seq', 1, false);


--
-- Name: roadmap_roadmap_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.roadmap_roadmap_id_seq', 6, true);


--
-- Name: roadmap_roadmapnotes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.roadmap_roadmapnotes_id_seq', 26, true);


--
-- Name: tasks_task_assigned_to_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.tasks_task_assigned_to_id_seq', 1, false);


--
-- Name: tasks_task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.tasks_task_id_seq', 9, true);


--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.token_blacklist_blacklistedtoken_id_seq', 2, true);


--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.token_blacklist_outstandingtoken_id_seq', 138, true);


--
-- Name: user_customuser_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.user_customuser_groups_id_seq', 1, false);


--
-- Name: user_customuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.user_customuser_id_seq', 4, true);


--
-- Name: user_customuser_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.user_customuser_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: fcm_django_fcmdevice fcm_django_fcmdevice_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.fcm_django_fcmdevice
    ADD CONSTRAINT fcm_django_fcmdevice_pkey PRIMARY KEY (id);


--
-- Name: fcm_django_fcmdevice fcm_django_fcmdevice_registration_id_9918b353_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.fcm_django_fcmdevice
    ADD CONSTRAINT fcm_django_fcmdevice_registration_id_9918b353_uniq UNIQUE (registration_id);


--
-- Name: finance_account finance_account_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.finance_account
    ADD CONSTRAINT finance_account_pkey PRIMARY KEY (id);


--
-- Name: finance_category finance_category_organization_id_name_579e19fb_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.finance_category
    ADD CONSTRAINT finance_category_organization_id_name_579e19fb_uniq UNIQUE (organization_id, name);


--
-- Name: finance_category finance_category_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.finance_category
    ADD CONSTRAINT finance_category_pkey PRIMARY KEY (id);


--
-- Name: finance_transaction finance_transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.finance_transaction
    ADD CONSTRAINT finance_transaction_pkey PRIMARY KEY (id);


--
-- Name: notification_notification notification_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.notification_notification
    ADD CONSTRAINT notification_notification_pkey PRIMARY KEY (id);


--
-- Name: notification_notificationchannel notification_notificationchannel_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.notification_notificationchannel
    ADD CONSTRAINT notification_notificationchannel_name_key UNIQUE (name);


--
-- Name: notification_notificationchannel notification_notificationchannel_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.notification_notificationchannel
    ADD CONSTRAINT notification_notificationchannel_pkey PRIMARY KEY (id);


--
-- Name: notification_notificationdelivery notification_notificationdelivery_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.notification_notificationdelivery
    ADD CONSTRAINT notification_notificationdelivery_pkey PRIMARY KEY (id);


--
-- Name: notification_notificationschedule notification_notificationschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.notification_notificationschedule
    ADD CONSTRAINT notification_notificationschedule_pkey PRIMARY KEY (id);


--
-- Name: organization_member organization_member_organization_id_user_id_bc9c0c78_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.organization_member
    ADD CONSTRAINT organization_member_organization_id_user_id_bc9c0c78_uniq UNIQUE (organization_id, user_id);


--
-- Name: organization_member organization_member_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.organization_member
    ADD CONSTRAINT organization_member_pkey PRIMARY KEY (id);


--
-- Name: organization_organization organization_organization_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.organization_organization
    ADD CONSTRAINT organization_organization_pkey PRIMARY KEY (id);


--
-- Name: roadmap_milestone roadmap_milestone_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roadmap_milestone
    ADD CONSTRAINT roadmap_milestone_pkey PRIMARY KEY (id);


--
-- Name: roadmap_progresssnapshot roadmap_progresssnapshot_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roadmap_progresssnapshot
    ADD CONSTRAINT roadmap_progresssnapshot_pkey PRIMARY KEY (id);


--
-- Name: roadmap_progresssnapshot roadmap_progresssnapshot_roadmap_id_snapshot_date_304f7756_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roadmap_progresssnapshot
    ADD CONSTRAINT roadmap_progresssnapshot_roadmap_id_snapshot_date_304f7756_uniq UNIQUE (roadmap_id, snapshot_date);


--
-- Name: roadmap_roadmap roadmap_roadmap_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roadmap_roadmap
    ADD CONSTRAINT roadmap_roadmap_pkey PRIMARY KEY (id);


--
-- Name: roadmap_roadmapnotes roadmap_roadmapnotes_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roadmap_roadmapnotes
    ADD CONSTRAINT roadmap_roadmapnotes_pkey PRIMARY KEY (id);


--
-- Name: tasks_task_assigned_to tasks_task_assigned_to_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tasks_task_assigned_to
    ADD CONSTRAINT tasks_task_assigned_to_pkey PRIMARY KEY (id);


--
-- Name: tasks_task_assigned_to tasks_task_assigned_to_task_id_customuser_id_9958caa6_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tasks_task_assigned_to
    ADD CONSTRAINT tasks_task_assigned_to_task_id_customuser_id_9958caa6_uniq UNIQUE (task_id, customuser_id);


--
-- Name: tasks_task tasks_task_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tasks_task
    ADD CONSTRAINT tasks_task_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_key UNIQUE (token_id);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq UNIQUE (jti);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_pkey PRIMARY KEY (id);


--
-- Name: user_customuser user_customuser_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_customuser
    ADD CONSTRAINT user_customuser_email_key UNIQUE (email);


--
-- Name: user_customuser_groups user_customuser_groups_customuser_id_group_id_e0a2f621_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_customuser_groups
    ADD CONSTRAINT user_customuser_groups_customuser_id_group_id_e0a2f621_uniq UNIQUE (customuser_id, group_id);


--
-- Name: user_customuser_groups user_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_customuser_groups
    ADD CONSTRAINT user_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: user_customuser user_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_customuser
    ADD CONSTRAINT user_customuser_pkey PRIMARY KEY (id);


--
-- Name: user_customuser_user_permissions user_customuser_user_per_customuser_id_permission_a5da865d_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_customuser_user_permissions
    ADD CONSTRAINT user_customuser_user_per_customuser_id_permission_a5da865d_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: user_customuser_user_permissions user_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_customuser_user_permissions
    ADD CONSTRAINT user_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: fcm_django__registr_dacdb2_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX fcm_django__registr_dacdb2_idx ON public.fcm_django_fcmdevice USING btree (registration_id, user_id);


--
-- Name: fcm_django_fcmdevice_device_id_a9406c36; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX fcm_django_fcmdevice_device_id_a9406c36 ON public.fcm_django_fcmdevice USING btree (device_id);


--
-- Name: fcm_django_fcmdevice_registration_id_9918b353_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX fcm_django_fcmdevice_registration_id_9918b353_like ON public.fcm_django_fcmdevice USING btree (registration_id text_pattern_ops);


--
-- Name: fcm_django_fcmdevice_user_id_6cdfc0a2; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX fcm_django_fcmdevice_user_id_6cdfc0a2 ON public.fcm_django_fcmdevice USING btree (user_id);


--
-- Name: finance_account_organization_id_24694148; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX finance_account_organization_id_24694148 ON public.finance_account USING btree (organization_id);


--
-- Name: finance_category_organization_id_18e3052d; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX finance_category_organization_id_18e3052d ON public.finance_category USING btree (organization_id);


--
-- Name: finance_transaction_account_id_fb4d3f0f; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX finance_transaction_account_id_fb4d3f0f ON public.finance_transaction USING btree (account_id);


--
-- Name: finance_transaction_category_id_f48294d6; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX finance_transaction_category_id_f48294d6 ON public.finance_transaction USING btree (category_id);


--
-- Name: finance_transaction_created_by_id_c2f2b2b4; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX finance_transaction_created_by_id_c2f2b2b4 ON public.finance_transaction USING btree (created_by_id);


--
-- Name: finance_transaction_organization_id_e03b1f78; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX finance_transaction_organization_id_e03b1f78 ON public.finance_transaction USING btree (organization_id);


--
-- Name: notification_notification_organization_id_a1b3c613; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX notification_notification_organization_id_a1b3c613 ON public.notification_notification USING btree (organization_id);


--
-- Name: notification_notification_recipient_id_e4007781; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX notification_notification_recipient_id_e4007781 ON public.notification_notification USING btree (recipient_id);


--
-- Name: notification_notificationchannel_name_22c396cf_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX notification_notificationchannel_name_22c396cf_like ON public.notification_notificationchannel USING btree (name varchar_pattern_ops);


--
-- Name: notification_notificationdelivery_channel_id_47e7b04a; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX notification_notificationdelivery_channel_id_47e7b04a ON public.notification_notificationdelivery USING btree (channel_id);


--
-- Name: notification_notificationdelivery_notification_id_acae9a98; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX notification_notificationdelivery_notification_id_acae9a98 ON public.notification_notificationdelivery USING btree (notification_id);


--
-- Name: notification_notificationschedule_notification_id_25da8302; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX notification_notificationschedule_notification_id_25da8302 ON public.notification_notificationschedule USING btree (notification_id);


--
-- Name: organization_member_organization_id_ca7d3ea8; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX organization_member_organization_id_ca7d3ea8 ON public.organization_member USING btree (organization_id);


--
-- Name: organization_member_user_id_ee858f64; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX organization_member_user_id_ee858f64 ON public.organization_member USING btree (user_id);


--
-- Name: organization_organization_created_by_id_6558d3a2; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX organization_organization_created_by_id_6558d3a2 ON public.organization_organization USING btree (created_by_id);


--
-- Name: roadmap_milestone_linked_task_id_021b6116; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX roadmap_milestone_linked_task_id_021b6116 ON public.roadmap_milestone USING btree (linked_task_id);


--
-- Name: roadmap_milestone_roadmap_id_2aabdc1c; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX roadmap_milestone_roadmap_id_2aabdc1c ON public.roadmap_milestone USING btree (roadmap_id);


--
-- Name: roadmap_progresssnapshot_roadmap_id_40440d10; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX roadmap_progresssnapshot_roadmap_id_40440d10 ON public.roadmap_progresssnapshot USING btree (roadmap_id);


--
-- Name: roadmap_roadmap_created_by_id_4b10a02c; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX roadmap_roadmap_created_by_id_4b10a02c ON public.roadmap_roadmap USING btree (created_by_id);


--
-- Name: roadmap_roadmap_organization_id_cdcc6ebe; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX roadmap_roadmap_organization_id_cdcc6ebe ON public.roadmap_roadmap USING btree (organization_id);


--
-- Name: roadmap_roadmapnotes_roadmap_id_9f8e9ab4; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX roadmap_roadmapnotes_roadmap_id_9f8e9ab4 ON public.roadmap_roadmapnotes USING btree (roadmap_id);


--
-- Name: tasks_task_assigned_to_customuser_id_ad975c73; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX tasks_task_assigned_to_customuser_id_ad975c73 ON public.tasks_task_assigned_to USING btree (customuser_id);


--
-- Name: tasks_task_assigned_to_task_id_daf1a7ac; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX tasks_task_assigned_to_task_id_daf1a7ac ON public.tasks_task_assigned_to USING btree (task_id);


--
-- Name: tasks_task_created_by_id_1345568a; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX tasks_task_created_by_id_1345568a ON public.tasks_task USING btree (created_by_id);


--
-- Name: tasks_task_organization_id_50c2ed4a; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX tasks_task_organization_id_50c2ed4a ON public.tasks_task USING btree (organization_id);


--
-- Name: token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like ON public.token_blacklist_outstandingtoken USING btree (jti varchar_pattern_ops);


--
-- Name: token_blacklist_outstandingtoken_user_id_83bc629a; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX token_blacklist_outstandingtoken_user_id_83bc629a ON public.token_blacklist_outstandingtoken USING btree (user_id);


--
-- Name: user_customuser_email_2292cf6d_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX user_customuser_email_2292cf6d_like ON public.user_customuser USING btree (email varchar_pattern_ops);


--
-- Name: user_customuser_groups_customuser_id_192632a7; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX user_customuser_groups_customuser_id_192632a7 ON public.user_customuser_groups USING btree (customuser_id);


--
-- Name: user_customuser_groups_group_id_bcbc9e48; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX user_customuser_groups_group_id_bcbc9e48 ON public.user_customuser_groups USING btree (group_id);


--
-- Name: user_customuser_user_permissions_customuser_id_4552d9cc; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX user_customuser_user_permissions_customuser_id_4552d9cc ON public.user_customuser_user_permissions USING btree (customuser_id);


--
-- Name: user_customuser_user_permissions_permission_id_e57e8b9a; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX user_customuser_user_permissions_permission_id_e57e8b9a ON public.user_customuser_user_permissions USING btree (permission_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_user_customuser_id FOREIGN KEY (user_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fcm_django_fcmdevice fcm_django_fcmdevice_user_id_6cdfc0a2_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.fcm_django_fcmdevice
    ADD CONSTRAINT fcm_django_fcmdevice_user_id_6cdfc0a2_fk_user_customuser_id FOREIGN KEY (user_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_account finance_account_organization_id_24694148_fk_organizat; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.finance_account
    ADD CONSTRAINT finance_account_organization_id_24694148_fk_organizat FOREIGN KEY (organization_id) REFERENCES public.organization_organization(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_category finance_category_organization_id_18e3052d_fk_organizat; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.finance_category
    ADD CONSTRAINT finance_category_organization_id_18e3052d_fk_organizat FOREIGN KEY (organization_id) REFERENCES public.organization_organization(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_transaction finance_transaction_account_id_fb4d3f0f_fk_finance_account_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.finance_transaction
    ADD CONSTRAINT finance_transaction_account_id_fb4d3f0f_fk_finance_account_id FOREIGN KEY (account_id) REFERENCES public.finance_account(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_transaction finance_transaction_category_id_f48294d6_fk_finance_category_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.finance_transaction
    ADD CONSTRAINT finance_transaction_category_id_f48294d6_fk_finance_category_id FOREIGN KEY (category_id) REFERENCES public.finance_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_transaction finance_transaction_created_by_id_c2f2b2b4_fk_user_cust; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.finance_transaction
    ADD CONSTRAINT finance_transaction_created_by_id_c2f2b2b4_fk_user_cust FOREIGN KEY (created_by_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_transaction finance_transaction_organization_id_e03b1f78_fk_organizat; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.finance_transaction
    ADD CONSTRAINT finance_transaction_organization_id_e03b1f78_fk_organizat FOREIGN KEY (organization_id) REFERENCES public.organization_organization(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notification_notificationdelivery notification_notific_channel_id_47e7b04a_fk_notificat; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.notification_notificationdelivery
    ADD CONSTRAINT notification_notific_channel_id_47e7b04a_fk_notificat FOREIGN KEY (channel_id) REFERENCES public.notification_notificationchannel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notification_notificationschedule notification_notific_notification_id_25da8302_fk_notificat; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.notification_notificationschedule
    ADD CONSTRAINT notification_notific_notification_id_25da8302_fk_notificat FOREIGN KEY (notification_id) REFERENCES public.notification_notification(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notification_notificationdelivery notification_notific_notification_id_acae9a98_fk_notificat; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.notification_notificationdelivery
    ADD CONSTRAINT notification_notific_notification_id_acae9a98_fk_notificat FOREIGN KEY (notification_id) REFERENCES public.notification_notification(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notification_notification notification_notific_organization_id_a1b3c613_fk_organizat; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.notification_notification
    ADD CONSTRAINT notification_notific_organization_id_a1b3c613_fk_organizat FOREIGN KEY (organization_id) REFERENCES public.organization_organization(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notification_notification notification_notific_recipient_id_e4007781_fk_user_cust; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.notification_notification
    ADD CONSTRAINT notification_notific_recipient_id_e4007781_fk_user_cust FOREIGN KEY (recipient_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: organization_member organization_member_organization_id_ca7d3ea8_fk_organizat; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.organization_member
    ADD CONSTRAINT organization_member_organization_id_ca7d3ea8_fk_organizat FOREIGN KEY (organization_id) REFERENCES public.organization_organization(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: organization_member organization_member_user_id_ee858f64_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.organization_member
    ADD CONSTRAINT organization_member_user_id_ee858f64_fk_user_customuser_id FOREIGN KEY (user_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: organization_organization organization_organiz_created_by_id_6558d3a2_fk_user_cust; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.organization_organization
    ADD CONSTRAINT organization_organiz_created_by_id_6558d3a2_fk_user_cust FOREIGN KEY (created_by_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: roadmap_milestone roadmap_milestone_linked_task_id_021b6116_fk_tasks_task_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roadmap_milestone
    ADD CONSTRAINT roadmap_milestone_linked_task_id_021b6116_fk_tasks_task_id FOREIGN KEY (linked_task_id) REFERENCES public.tasks_task(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: roadmap_milestone roadmap_milestone_roadmap_id_2aabdc1c_fk_roadmap_roadmap_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roadmap_milestone
    ADD CONSTRAINT roadmap_milestone_roadmap_id_2aabdc1c_fk_roadmap_roadmap_id FOREIGN KEY (roadmap_id) REFERENCES public.roadmap_roadmap(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: roadmap_progresssnapshot roadmap_progresssnap_roadmap_id_40440d10_fk_roadmap_r; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roadmap_progresssnapshot
    ADD CONSTRAINT roadmap_progresssnap_roadmap_id_40440d10_fk_roadmap_r FOREIGN KEY (roadmap_id) REFERENCES public.roadmap_roadmap(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: roadmap_roadmap roadmap_roadmap_created_by_id_4b10a02c_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roadmap_roadmap
    ADD CONSTRAINT roadmap_roadmap_created_by_id_4b10a02c_fk_user_customuser_id FOREIGN KEY (created_by_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: roadmap_roadmap roadmap_roadmap_organization_id_cdcc6ebe_fk_organizat; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roadmap_roadmap
    ADD CONSTRAINT roadmap_roadmap_organization_id_cdcc6ebe_fk_organizat FOREIGN KEY (organization_id) REFERENCES public.organization_organization(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: roadmap_roadmapnotes roadmap_roadmapnotes_roadmap_id_9f8e9ab4_fk_roadmap_roadmap_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roadmap_roadmapnotes
    ADD CONSTRAINT roadmap_roadmapnotes_roadmap_id_9f8e9ab4_fk_roadmap_roadmap_id FOREIGN KEY (roadmap_id) REFERENCES public.roadmap_roadmap(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tasks_task_assigned_to tasks_task_assigned__customuser_id_ad975c73_fk_user_cust; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tasks_task_assigned_to
    ADD CONSTRAINT tasks_task_assigned__customuser_id_ad975c73_fk_user_cust FOREIGN KEY (customuser_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tasks_task_assigned_to tasks_task_assigned_to_task_id_daf1a7ac_fk_tasks_task_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tasks_task_assigned_to
    ADD CONSTRAINT tasks_task_assigned_to_task_id_daf1a7ac_fk_tasks_task_id FOREIGN KEY (task_id) REFERENCES public.tasks_task(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tasks_task tasks_task_created_by_id_1345568a_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tasks_task
    ADD CONSTRAINT tasks_task_created_by_id_1345568a_fk_user_customuser_id FOREIGN KEY (created_by_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tasks_task tasks_task_organization_id_50c2ed4a_fk_organizat; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tasks_task
    ADD CONSTRAINT tasks_task_organization_id_50c2ed4a_fk_organizat FOREIGN KEY (organization_id) REFERENCES public.organization_organization(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk FOREIGN KEY (token_id) REFERENCES public.token_blacklist_outstandingtoken(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outs_user_id_83bc629a_fk_user_cust; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outs_user_id_83bc629a_fk_user_cust FOREIGN KEY (user_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_customuser_groups user_customuser_grou_customuser_id_192632a7_fk_user_cust; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_customuser_groups
    ADD CONSTRAINT user_customuser_grou_customuser_id_192632a7_fk_user_cust FOREIGN KEY (customuser_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_customuser_groups user_customuser_groups_group_id_bcbc9e48_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_customuser_groups
    ADD CONSTRAINT user_customuser_groups_group_id_bcbc9e48_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_customuser_user_permissions user_customuser_user_customuser_id_4552d9cc_fk_user_cust; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_customuser_user_permissions
    ADD CONSTRAINT user_customuser_user_customuser_id_4552d9cc_fk_user_cust FOREIGN KEY (customuser_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_customuser_user_permissions user_customuser_user_permission_id_e57e8b9a_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_customuser_user_permissions
    ADD CONSTRAINT user_customuser_user_permission_id_e57e8b9a_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict 1nn7blxTHhHNTFMC2Fpadbz2ElFhkJgQinStoz3CYdbfGmzZUVVQRSEhKN4JHR5

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict s4MRrHLsj2Nr7DRKGr0ZAmxhZmhkVaiQrfOtWn7u3SFsNT6wMuvPhuhvf0GpXGy

-- Dumped from database version 18.6 (Debian 18.6-1.pgdg13+2)
-- Dumped by pg_dump version 18.6 (Debian 18.6-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict s4MRrHLsj2Nr7DRKGr0ZAmxhZmhkVaiQrfOtWn7u3SFsNT6wMuvPhuhvf0GpXGy

--
-- PostgreSQL database cluster dump complete
--

